<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SchedulerStartTime" value="11:00:00" />
    <add key="SchedulerEndTime" value="23:59:00" />
    <!--
    Sunday = 0,
    Monday = 1,
    Tuesday = 2,
    Wednesday = 3,
    Thursday = 4,
    Friday = 5,
    Saturday = 6
    -->
    <add key="SchedulerDays" value="1;2;3;4;5;6;0" />
    <add key="SchedulerInterval" value="0:2:0:0" />

    <add key="ServiceName" value="CRM_ClinicPerformedService_INS_InsMedicalCaseServiceEx" />
    <add key="ServiceDisplayName" value="CRM.ClinicPerformedService to INS.InsMedicalCaseServiceEx" />
    <add key="ServiceDescription" value="კურაციოს ჩატარებული სერვისების სინქრონიზაციის სერვისი ჯიპიაის ზარალებთან" />
    
    
    <add key="INS_Server" value="192.168.0.100" />
    <add key="INS_Database" value="INS" />
    <add key="INS_User" value="INSlogin" />
    <add key="INS_Password" value="xanERjuQAoA=" />
    
    <!--<add key="CRM_Server" value="localhost\SQLEXPRESS" />
    <add key="CRM_Database" value="INSCrm" />
    <add key="CRM_User" value="" />
    <add key="CRM_Password" value="" />-->
    
    <add key="CRM_Server" value="192.168.0.100" />
    <add key="CRM_Database" value="INSCrm" />
    <add key="CRM_User" value="INSlogin" />
    <add key="CRM_Password" value="xanERjuQAoA=" />
    
    <add key="TakeCount" value="1000000000" />
    <add key="CreatorID" value="116353" />
    <add key="CoordinatorID" value="70518" />
    <add key="BranchID" value="73001" />
    <add key="DeclaratorID" value="111" />
    <add key="PaymentReceiverID" value="111" />
    <add key="AppointmentServiceProviders" value="111,602810,484474" />
    <add key="PaymentReceiverBankAccountID" value="9" />
    <add key="ProviderID" value="111" />
    <add key="OurDiscountReal" value="0" />
  </appSettings>
</configuration>